# Домашнее задание №2

Тема "Доверительные интервалы"

Общие положения:
- Макс кол-во баллов за ДЗ - 25 баллов
- Качество оформления и кода играет роль

Список заданий:
1.

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy.stats import norm, t

plt.style.use("ggplot")
%matplotlib inline

In [15]:
# Задаём стандартное нормальное распределение
norm_distr = norm(loc=0, scale=1)

# Рассчитываем квантиль по заданному уровню значимости
alpha = 0.05
z = norm_distr.ppf(1 - alpha / 2)
print(z)

1.959963984540054

## Задание 1  
Компания утверждает, что длина шнурков в партии обуви имеет среднее значение 120 см, и стандартное отклонение в партии точно известно и составляет 5 см. Из выборки 25 шнурков было получено среднее значение длины 122 см. Найдите 99%-ый доверительный интервал для среднего значения длины шнурков (1 балл)

In [16]:
# Исходные данные
sample_size = 25
sample_mean = 122
sigma = 5
alpha = 0.01

# Расчет доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
std_error = sigma / np.sqrt(sample_size)
margin_of_error = z_score * std_error

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print(f"99% доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}] см")

99% доверительный интервал: [119.42, 124.58] см

## Задание 2
Компания исследует среднее время выполнения заказа курьерской службой. Было случайным образом выбрано 10 заказов, для которых среднее время доставки составило 45 минут, а выборочная дисперсия — 9 минут. Постройте 95%-ый доверительный интервал для среднего времени доставки заказа (1 балл)

In [17]:
# Исходные данные
n = 10
mean_time = 45
variance = 9
alpha = 0.05

# Расчет доверительного интервала
t_score = t.ppf(1 - alpha / 2, n - 1)
margin_of_error = t_score * np.sqrt(variance / n)

lower_bound = mean_time - margin_of_error
upper_bound = mean_time + margin_of_error

print(f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}] мин")

95%-ый доверительный интервал: [42.85, 47.15] мин

## Задание 3
Интернет-магазин хочет определить долю пользователей, которые возвращаются для повторной покупки в течение месяца после первой покупки. Для этого он проанализировал выборку из 800 клиентов, и оказалось, что 240 из них сделали повторную покупку в течение месяца. Необходимо определить 95% доверительный интервал для истинной доли клиентов, которые возвращаются для повторной покупки в течение этого времени (1 балл)

In [19]:
# Исходные данные
n = 800
k = 240
alpha = 0.05

# Вычисление доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
p = k / n
margin_of_error = z_score * np.sqrt(p * (1 - p / n))

lower_bound = p - z * margin_of_error
upper_bound = p + z * margin_of_error

print(f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}] клиентов")

95%-ый доверительный интервал: [-1.80, 2.40] клиентов

## Задание 4
Два студента Тимофей и Пётр решают задачи из учебника по статистике, каждый со своей усердностью λ (количество решенных задач в день).
Тимофей считает себя более усердным студентом. Необходимо построить доверительный для разности λ1 - λ2 и проверить, правда ли это.
Студенты решают задачи независимо друг от друга (1 балл)

In [20]:
# Данные
a = [7, 5, 2, 8, 4, 9, 2, 6, 6, 7]  # Тимофей
b = [3, 3, 3, 9, 9, 2, 2, 2, 2, 9]  # Пётр

In [21]:
# Преобразование данных в массивы NumPy
a = np.array(a)
b = np.array(b)

# Вычисление средних значений и стандартных отклонений
mean_a = np.mean(a)
std_a = np.std(a)
mean_b = np.mean(b)
std_b = np.std(b)

print("Среднее значение для Тимофея:", mean_a)
print("Стандартное отклонение для Тимофея:", std_a)
print("Среднее значение для Петра:", mean_b)
print("Стандартное отклонение для Петра:", std_b)

Среднее значение для Тимофея: 5.6
Стандартное отклонение для Тимофея: 2.244994432064365
Среднее значение для Петра: 4.4
Стандартное отклонение для Петра: 3.0397368307141326

In [23]:
# Вычисление доверительного интервала для разности средних значений
t_score = t.ppf(1 - 0.05 / 2, len(a) - 1)


conf_int = t_score * np.sqrt(std_a**2 / len(a) + std_b**2 / len(b))

print("Доверительный интервал для разности средних значений:", conf_int)

# Проверка, правда ли Тимофей более усердный студент
if mean_a > mean_b:
    print("Тимофей действительно более усердный студент")
else:
    print("Пётр более усердный студент")

Доверительный интервал для разности средних значений: 2.7032541467752544
Тимофей действительно более усердный студент

## Задания 5-8 (5 баллов всего)

In [24]:
!curl -O https://raw.githubusercontent.com/practical-jupyter/sample-data/refs/heads/master/anime/anime.csv >> anime.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  778k  100  778k    0     0  1557k      0 --:--:-- --:--:-- --:--:-- 1557k

Описание датафрейма:
- `anime_id` - ID
- `name` - название
- `genre` - жанр (строка с пречисление через запятую)
- `type` - формат
- `episodes` - кол-во эпизодов
- `rating` - средний рейтинг
- `members` - кол-во смотрящих

In [25]:
df_anime = pd.read_csv("anime.csv")
df_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10486 entries, 0 to 10485
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  10486 non-null  int64
 1   name      10486 non-null  object
 2   genre     10424 non-null  object
 3   type      10463 non-null  object
 4   episodes  10486 non-null  object
 5   rating    10275 non-null  float64
 6   members   10486 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 573.6+ KB

In [26]:
# Замена пустых значений количества эпизодов и перевод столбца в int
df_anime["episodes"] = df_anime["episodes"].replace("Unknown", "0").astype(np.int64)

In [27]:
df_anime.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes      int64
rating      float64
members       int64
dtype: object

In [28]:
# Копирование исходного датасета (что бы иметь возможность обратиться к исходнику)
df_genre_str = df_anime.copy()

# Разделение жанров
df_genre_str["genre"] = df_genre_str["genre"].str.split(",")
df_genre_str = df_genre_str.explode("genre")

df_genre_str.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,Drama,Movie,1,9.37,200630
0,32281,Kimi no Na wa.,Romance,Movie,1,9.37,200630
0,32281,Kimi no Na wa.,School,Movie,1,9.37,200630
0,32281,Kimi no Na wa.,Supernatural,Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,Action,TV,64,9.26,793665

## 5. Постройте доверительный интервал для среднего рейтинга по всем аниме (1 балл)

## 6. Постройте доверительные интервалы для средних рейтингов по жанрам  (1 балл)

## 7. Постройте доверительные интервалы среднего рейтинга по типам аниме (1 балл)

## 8. По доверительным интервалам для episodes, rating и members оцените количество аномалий (2 балла)

## Задания 9-15. Продуктовые метрики (16 баллов всего)

In [ ]:
!curl -O https://raw.githubusercontent.com/alina-zhu/datasets/refs/heads/master/customer_shopping_data.csv >> customer_shopping_data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 6410k  100 6410k    0     0  8882k      0 --:--:-- --:--:-- --:--:-- 8878k

Описание датафрейма:
- `invoice_no` - номер чека
- `customer_id` - id клиента
- `gender` - пол клиента
- `age` - возраст клиента
- `category` - категория товара
- `quantity` - количество единиц товаров в чеке
- `price` - цена товара
- `payment_method` - метод оплаты
- `invoice_date` - дата покупки

In [ ]:
df = pd.read_csv("customer_shopping_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 6.8+ MB

In [ ]:
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date
0,I138884,upeszhn26j,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05
1,I317333,nyyoavbmge,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12
2,I127801,iksbmqrtj0,Male,20,Clothing,1,300.08,Cash,2021-11-09
3,I173702,zfhc107gzu,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16
4,I337046,diwrquryyt,Female,53,Books,4,60.60,Cash,2021-10-24

## 9. Посчитайте доверительный интервал для среднего возраста покупателей (1 балл)

## 10. Посчитайте доверительные интервалы для среднего чека в каждой категории (1 балл)

## 11. Посчитайте доверительные интервалы для среднего чека для каждого типа оплаты (1 балл)

## 12. Посчитайте доверительный интервал для среднего количества позиций в чеке (1 балл)

## 13. Посчитайте доверительный для среднего количества покупателей в день (1 балл)



```
# This is formatted as code
```

## 14. Посчитайте помесячный retention для пользователей и доверительные интервалы для него (6 баллов)
Day N Retention = (Users Day N / Users Day 0) * 100

1) Постройте график retention   
2) Добавьте на график область доверительного интервала для каждого месяца

## 15. Посчитайте средний доход с пользователя (ARPU) в каждом месяце и доверительные интервалы для него (5 баллов)
ARPU = Average Revenue Per User  
1) Постройте график ARPU для каждого месяца      
2) Добавьте на график область доверительного интервала для каждого месяца