# Домашнее задание №2

Тема "Доверительные интервалы"

Общие положения:
- Макс кол-во баллов за ДЗ - 25 баллов
- Качество оформления и кода играет роль

Список заданий:
1.

In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy.stats import norm, t

plt.style.use("ggplot")
%matplotlib inline

In [118]:
# Задаем стандартное нормальное распределение
norm_distr = norm(loc=0, scale=1)

# Рассчитываем квантиль по заданному уровню значимости
alpha = 0.05
z = norm_distr.ppf(1 - alpha / 2)
print(z)

1.959963984540054

## Задание 1  
Компания утверждает, что длина шнурков в партии обуви имеет среднее значение 120 см, и стандартное отклонение в партии точно известно и составляет 5 см. Из выборки 25 шнурков было получено среднее значение длины 122 см. Найдите 99%-ый доверительный интервал для среднего значения длины шнурков (1 балл)

In [119]:
# Исходные данные
sample_size = 25
sample_mean = 122
sigma = 5
alpha = 0.01

# Расчет доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
std_error = sigma / np.sqrt(sample_size)
margin_of_error = z_score * std_error

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print(
    f"99% доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}] см, ширина {upper_bound - lower_bound:.2f} см"
)

99% доверительный интервал: [119.42, 124.58] см, ширина 5.15 см

## Задание 2
Компания исследует среднее время выполнения заказа курьерской службой. Было случайным образом выбрано 10 заказов, для которых среднее время доставки составило 45 минут, а выборочная дисперсия — 9 минут. Постройте 95%-ый доверительный интервал для среднего времени доставки заказа (1 балл)

In [120]:
# Исходные данные
n = 10
mean_time = 45
variance = 9
alpha = 0.05

# Расчет доверительного интервала
t_score = t.ppf(1 - alpha / 2, df=(n - 1))
margin_of_error = t_score * np.sqrt(variance / n)

lower_bound = mean_time - margin_of_error
upper_bound = mean_time + margin_of_error

print(
    f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}] мин, ширина {upper_bound - lower_bound:.2f} мин"
)

95%-ый доверительный интервал: [42.85, 47.15] мин, ширина 4.29 мин

## Задание 3
Интернет-магазин хочет определить долю пользователей, которые возвращаются для повторной покупки в течение месяца после первой покупки. Для этого он проанализировал выборку из 800 клиентов, и оказалось, что 240 из них сделали повторную покупку в течение месяца. Необходимо определить 95% доверительный интервал для истинной доли клиентов, которые возвращаются для повторной покупки в течение этого времени (1 балл)

In [121]:
# Исходные данные
n = 800
k = 240
alpha = 0.05

# Вычисление доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
p = k / n
margin_of_error = z_score * np.sqrt(p * (1 - p / n))

lower_bound = p - z * margin_of_error
upper_bound = p + z * margin_of_error

print(
    f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}], ширина {upper_bound - lower_bound:.2f}"
)

95%-ый доверительный интервал: [-1.80, 2.40], ширина 4.21

## Задание 4
Два студента Тимофей и Пётр решают задачи из учебника по статистике, каждый со своей усердностью λ (количество решенных задач в день).
Тимофей считает себя более усердным студентом. Необходимо построить доверительный для разности λ1 - λ2 и проверить, правда ли это.
Студенты решают задачи независимо друг от друга (1 балл)

In [122]:
# Данные
a = [7, 5, 2, 8, 4, 9, 2, 6, 6, 7]  # Тимофей
b = [3, 3, 3, 9, 9, 2, 2, 2, 2, 9]  # Пётр

In [123]:
# Преобразование данных
a = np.array(a)
b = np.array(b)

# Вычисление средних значений и стандартных отклонений
mean_a = np.mean(a)
std_a = np.std(a, ddof=1)
mean_b = np.mean(b)
std_b = np.std(b, ddof=1)

print("Среднее значение для Тимофея:", mean_a)
print("Стандартное отклонение для Тимофея:", round(std_a, 2))
print("Среднее значение для Петра:", mean_b)
print("Стандартное отклонение для Петра:", round(std_b, 2))

Среднее значение для Тимофея: 5.6
Стандартное отклонение для Тимофея: 2.37
Среднее значение для Петра: 4.4
Стандартное отклонение для Петра: 3.2

In [124]:
alpha = 0.05
z_alpha = norm.ppf(1 - alpha / 2)

diff = np.mean(a) - np.mean(b)
diff_se = np.sqrt(np.mean(a) / len(a) + np.mean(b) / len(b))

left = diff - z_alpha * diff_se
right = diff + z_alpha * diff_se

print(
    f"95%-ый доверительный интервал: [{left:.2f}, {right:.2f}], ширина {right - left:.2f}"
)

95%-ый доверительный интервал: [-0.76, 3.16], ширина 3.92

In [125]:
# Проверка, правда ли Тимофей более усердный студент
if mean_a > mean_b:
    print("Тимофей действительно более усердный студент")
else:
    print("Петр более усердный студент")

Тимофей действительно более усердный студент

## Задания 5-8 (5 баллов всего)

In [126]:
!curl -O https://raw.githubusercontent.com/practical-jupyter/sample-data/refs/heads/master/anime/anime.csv >> anime.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  778k  100  778k    0     0   735k      0  0:00:01  0:00:01 --:--:--  736k

Описание датафрейма:
- `anime_id` - ID
- `name` - название
- `genre` - жанр (строка с пречисление через запятую)
- `type` - формат
- `episodes` - кол-во эпизодов
- `rating` - средний рейтинг
- `members` - кол-во смотрящих

In [127]:
df_anime = pd.read_csv("anime.csv")
df_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10486 entries, 0 to 10485
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  10486 non-null  int64
 1   name      10486 non-null  object
 2   genre     10424 non-null  object
 3   type      10463 non-null  object
 4   episodes  10486 non-null  object
 5   rating    10275 non-null  float64
 6   members   10486 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 573.6+ KB

In [128]:
df_anime.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [129]:
df_anime.isna().sum()

anime_id      0
name          0
genre        62
type         23
episodes      0
rating      211
members       0
dtype: int64

In [130]:
# Замена пустых значений количества эпизодов и перевод столбца в int
df_anime["episodes"] = df_anime["episodes"].replace("Unknown", "0").astype(np.int64)

In [131]:
df_anime.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes      int64
rating      float64
members       int64
dtype: object

In [132]:
# Заполнение пустых значений рейтинга
df_anime["rating"] = df_anime["rating"].fillna(0)

In [133]:
df_anime.shape

(10486, 7)

In [134]:
df_anime.describe()

           anime_id      episodes        rating       members
count  10486.000000  10486.000000  10486.000000  1.048600e+04
mean   14697.595461     13.423803      6.363228  1.847893e+04
std    11594.539648     49.885898      1.395065  5.655936e+04
min        1.000000      0.000000      0.000000  5.000000e+00
25%     3615.750000      1.000000      5.800000  1.730000e+02
50%    11065.000000      1.000000      6.580000  1.197500e+03
75%    26018.500000     13.000000      7.240000  9.741750e+03
max    34527.000000   1818.000000     10.000000  1.013917e+06

In [135]:
df_anime.describe(include=object)

                           name   genre   type
count                     10486   10424  10463
unique                    10484    2776      6
top     Shi Wan Ge Leng Xiaohua  Comedy     TV
freq                          2     523   3542

In [136]:
df_anime.isna().sum()

anime_id     0
name         0
genre       62
type        23
episodes     0
rating       0
members      0
dtype: int64

In [137]:
# Копирование исходного датасета (что бы иметь возможность обратиться к исходнику)
df_genre_str = df_anime.copy()

# Разделение жанров
df_genre_str["genre"] = df_genre_str["genre"].str.split(",")
df_genre_str = df_genre_str.explode("genre")
df_genre_str["genre"] = df_genre_str["genre"].str.strip()

df_genre_str.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,Drama,Movie,1,9.37,200630
0,32281,Kimi no Na wa.,Romance,Movie,1,9.37,200630
0,32281,Kimi no Na wa.,School,Movie,1,9.37,200630
0,32281,Kimi no Na wa.,Supernatural,Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,Action,TV,64,9.26,793665

## 5. Постройте доверительный интервал для среднего рейтинга по всем аниме (1 балл)

In [138]:
data = df_anime["rating"]

# Вычисление среднего значения и стандартного отклонения
sample_mean = np.mean(data)
sample_std = np.std(data, ddof=1)
n = len(data)
alpha = 0.05

# Вычисление доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
margin_of_error = z_score * sample_std / np.sqrt(n)

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print(
    f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}], ширина {upper_bound - lower_bound:.2f}"
)

95%-ый доверительный интервал: [6.34, 6.39], ширина 0.05

## 6. Постройте доверительные интервалы для средних рейтингов по жанрам  (1 балл)

In [139]:
# Группировка по жанрам и расчет среднего рейтинга
genre_ratings = (df_genre_str.groupby("genre")["rating"].agg("mean").reset_index())

In [140]:
genre_ratings["genre"].unique()

array(['Action', 'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons',
       'Drama', 'Fantasy', 'Game', 'Harem', 'Historical', 'Horror',
       'Josei', 'Kids', 'Magic', 'Martial Arts', 'Mecha', 'Military',
       'Music', 'Mystery', 'Parody', 'Police', 'Psychological', 'Romance',
       'Samurai', 'School', 'Sci-Fi', 'Seinen', 'Shoujo', 'Shoujo Ai',
       'Shounen', 'Shounen Ai', 'Slice of Life', 'Space', 'Sports',
       'Super Power', 'Supernatural', 'Thriller', 'Vampire'], dtype=object)

In [141]:
data = genre_ratings["rating"]

# Вычисление среднего значения и стандартного отклонения
sample_mean = np.mean(data)
sample_std = np.std(data, ddof=1)
n = len(data)
alpha = 0.05

# Вычисление доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
margin_of_error = z_score * sample_std / np.sqrt(n)

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print(
    f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}], ширина {upper_bound - lower_bound:.2f}"
)

95%-ый доверительный интервал: [6.53, 6.78], ширина 0.25

## 7. Постройте доверительные интервалы среднего рейтинга по типам аниме (1 балл)

In [142]:
# Подсчет среднего и стандартного отклонения рейтинга по типу аниме
type_ratings = df_anime.groupby("type")["rating"].agg("mean").reset_index()

In [143]:
data = type_ratings["rating"]

# Вычисление среднего значения и стандартного отклонения
sample_mean = np.mean(data)
sample_std = np.std(data, ddof=1)
n = len(data)
alpha = 0.05

# Вычисление доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
margin_of_error = z_score * sample_std / np.sqrt(n)

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print(
    f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}], ширина {upper_bound - lower_bound:.2f}"
)

95%-ый доверительный интервал: [5.77, 6.54], ширина 0.76

## 8. По доверительным интервалам для episodes, rating и members оцените количество аномалий (2 балла)

In [144]:
data_episodes = df_anime["episodes"]
data_rating = df_anime["rating"]
data_members = df_anime["members"]

In [145]:
def conf_interval(df, alpha=0.05):
    # Вычисление среднего значения и стандартного отклонения
    sample_mean = np.mean(df)
    sample_std = np.std(df, ddof=1)
    n = len(df)

    # Вычисление доверительного интервала
    z_score = norm.ppf(1 - alpha / 2)
    margin_of_error = z_score * sample_std / np.sqrt(n)

    lower_bound = sample_mean - margin_of_error
    upper_bound = sample_mean + margin_of_error

    return [lower_bound, upper_bound]

In [146]:
interval_episodes = conf_interval(data_episodes)
interval_rating = conf_interval(data_rating)
interval_members = conf_interval(data_members)

print(
    f"95%-ый доверительный интервал episodes: [{interval_episodes[0]:.2f}, {interval_episodes[1]:.2f}], ширина {interval_episodes[1] - interval_episodes[0]:.2f}"
)
print(
    f"95%-ый доверительный интервал rating: [{interval_rating[0]:.2f}, {interval_rating[1]:.2f}], ширина {interval_rating[1] - interval_rating[0]:.2f}"
)
print(
    f"95%-ый доверительный интервал members: [{interval_members[0]:.2f}, {interval_members[1]:.2f}], ширина {interval_members[1] - interval_members[0]:.2f}"
)

95%-ый доверительный интервал episodes: [12.47, 14.38], ширина 1.91
95%-ый доверительный интервал rating: [6.34, 6.39], ширина 0.05
95%-ый доверительный интервал members: [17396.38, 19561.48], ширина 2165.10

In [147]:
# Фильтрация аномальных значений
anomalies_episodes = (data_episodes < interval_episodes[0]) | (
    data_episodes > interval_episodes[1]
)
anomalies_rating = (data_rating < interval_rating[0]) | (
    data_rating > interval_rating[1]
)
anomalies_members = (data_members < interval_members[0]) | (
    data_members > interval_members[1]
)

# Подсчет количества аномалий
anomalies_episodes_count = len(anomalies_episodes)
anomalies_rating_count = len(anomalies_rating)
anomalies_members_count = len(anomalies_members)

print(f"Количество аномалий в столбце episodes: {anomalies_episodes_count}")
print(f"Количество аномалий в столбце rating: {anomalies_rating_count}")
print(f"Количество аномалий в столбце members: {anomalies_members_count}")

Количество аномалий в столбце episodes: 10486
Количество аномалий в столбце rating: 10486
Количество аномалий в столбце members: 10486

## Задания 9-15. Продуктовые метрики (16 баллов всего)

In [148]:
!curl -O https://raw.githubusercontent.com/alina-zhu/datasets/refs/heads/master/customer_shopping_data.csv >> customer_shopping_data.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 6410k  100 6410k    0     0  1685k      0  0:00:03  0:00:03 --:--:-- 1685k

Описание датафрейма:
- `invoice_no` - номер чека
- `customer_id` - id клиента
- `gender` - пол клиента
- `age` - возраст клиента
- `category` - категория товара
- `quantity` - количество единиц товаров в чеке
- `price` - цена товара
- `payment_method` - метод оплаты
- `invoice_date` - дата покупки

In [149]:
df = pd.read_csv("customer_shopping_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 6.8+ MB

In [150]:
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date
0,I138884,upeszhn26j,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05
1,I317333,nyyoavbmge,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12
2,I127801,iksbmqrtj0,Male,20,Clothing,1,300.08,Cash,2021-11-09
3,I173702,zfhc107gzu,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16
4,I337046,diwrquryyt,Female,53,Books,4,60.60,Cash,2021-10-24

In [151]:
df.shape

(99457, 9)

In [152]:
df.describe()

                age      quantity         price
count  99457.000000  99457.000000  99457.000000
mean      43.427089      3.003429    689.256321
std       14.990054      1.413025    941.184567
min       18.000000      1.000000      5.230000
25%       30.000000      2.000000     45.450000
50%       43.000000      3.000000    203.300000
75%       56.000000      4.000000   1200.320000
max       69.000000      5.000000   5250.000000

In [153]:
df.describe(include=object)

       invoice_no customer_id  gender  category payment_method invoice_date
count       99457       99457   99457     99457          99457        99457
unique      99457       47168       2         8              3          797
top       I232867  q0recywbmf  Female  Clothing           Cash   2021-11-24
freq            1           9   59482     34487          44447          159

In [154]:
df.isna().sum()

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
dtype: int64

In [155]:
df["sale"] = df["quantity"] * df["price"]

df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,sale
0,I138884,upeszhn26j,Female,28,Clothing,5,1500.40,Credit Card,2022-08-05,7502.00
1,I317333,nyyoavbmge,Male,21,Shoes,3,1800.51,Debit Card,2021-12-12,5401.53
2,I127801,iksbmqrtj0,Male,20,Clothing,1,300.08,Cash,2021-11-09,300.08
3,I173702,zfhc107gzu,Female,66,Shoes,5,3000.85,Credit Card,2021-05-16,15004.25
4,I337046,diwrquryyt,Female,53,Books,4,60.60,Cash,2021-10-24,242.40

In [156]:
df["invoice_date"] = pd.to_datetime(df["invoice_date"])

df["month"] = df["invoice_date"].dt.month_name()

df.dtypes

invoice_no                object
customer_id               object
gender                    object
age                        int64
category                  object
quantity                   int64
price                    float64
payment_method            object
invoice_date      datetime64[ns]
sale                     float64
month                     object
dtype: object

## 9. Посчитайте доверительный интервал для среднего возраста покупателей (1 балл)

In [157]:
data = df["age"]

# Вычисление среднего значения и стандартного отклонения
sample_mean = np.mean(data)
sample_std = np.std(data, ddof=1)
n = len(data)
alpha = 0.05

# Вычисление доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
margin_of_error = z_score * sample_std / np.sqrt(n)

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print(
    f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}], ширина {upper_bound - lower_bound:.2f}"
)

95%-ый доверительный интервал: [43.33, 43.52], ширина 0.19

## 10. Посчитайте доверительные интервалы для среднего чека в каждой категории (1 балл)

In [158]:
# Подсчет среднего и стандартного отклонения чека по категории
category_sale = df.groupby("category")["sale"].agg("mean").reset_index()

In [159]:
data = category_sale["sale"]

# Вычисление среднего значения и стандартного отклонения
sample_mean = np.mean(data)
sample_std = np.std(data, ddof=1)
n = len(data)
alpha = 0.05

# Вычисление доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
margin_of_error = z_score * sample_std / np.sqrt(n)

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print(
    f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}], ширина {upper_bound - lower_bound:.2f}"
)

95%-ый доверительный интервал: [-88.14, 5767.34], ширина 5855.48

## 11. Посчитайте доверительные интервалы для среднего чека для каждого типа оплаты (1 балл)

In [160]:
# Подсчет среднего и стандартного отклонения чека по типу оплаты
payment_method_sale = df.groupby("payment_method")["sale"].agg("mean").reset_index()

In [161]:
data = payment_method_sale["sale"]

# Вычисление среднего значения и стандартного отклонения
sample_mean = np.mean(data)
sample_std = np.std(data, ddof=1)
n = len(data)
alpha = 0.05

# Вычисление доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
margin_of_error = z_score * sample_std / np.sqrt(n)

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print(
    f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}], ширина {upper_bound - lower_bound:.2f}"
)

95%-ый доверительный интервал: [2514.90, 2538.38], ширина 23.48

## 12. Посчитайте доверительный интервал для среднего количества позиций в чеке (1 балл)

In [162]:
data = df["quantity"]

# Вычисление среднего значения и стандартного отклонения
sample_mean = np.mean(data)
sample_std = np.std(data, ddof=1)
n = len(data)
alpha = 0.05

# Вычисление доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
margin_of_error = z_score * sample_std / np.sqrt(n)

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print(
    f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}], ширина {upper_bound - lower_bound:.2f}"
)

95%-ый доверительный интервал: [2.99, 3.01], ширина 0.02

## 13. Посчитайте доверительный для среднего количества покупателей в день (1 балл)

In [163]:
# Подсчет среднего и стандартного отклонения количества покупателей по дням
invoice_date_members = df.groupby("invoice_date")["sale"].agg("count").reset_index()

In [165]:
data = invoice_date_members["sale"]

# Вычисление среднего значения и стандартного отклонения
sample_mean = np.mean(data)
sample_std = np.std(data, ddof=1)
n = len(data)
alpha = 0.05

# Вычисление доверительного интервала
z_score = norm.ppf(1 - alpha / 2)
margin_of_error = z_score * sample_std / np.sqrt(n)

lower_bound = sample_mean - margin_of_error
upper_bound = sample_mean + margin_of_error

print(
    f"95%-ый доверительный интервал: [{lower_bound:.2f}, {upper_bound:.2f}], ширина {upper_bound - lower_bound:.2f}"
)

95%-ый доверительный интервал: [124.03, 125.55], ширина 1.52

## 14. Посчитайте помесячный retention для пользователей и доверительные интервалы для него (6 баллов)
Day N Retention = (Users Day N / Users Day 0) * 100

1) Постройте график retention   
2) Добавьте на график область доверительного интервала для каждого месяца

In [116]:
# Подсчет всех и уникальных покупателей по дням
invoice_date_retention = df.groupby("month")["customer_id"].agg(["count", "nunique"]).reset_index()

invoice_date_retention["retention"] = invoice_date_retention["nunique"] / invoice_date_retention["count"] * 100

invoice_date_retention.head()

      month  count  nunique  retention
0     April   7487     6981  93.241619
1    August   7635     7126  93.333333
2  December   7680     7174  93.411458
3  February  10482     9586  91.452013
4   January  11608    10493  90.394555

## 15. Посчитайте средний доход с пользователя (ARPU) в каждом месяце и доверительные интервалы для него (5 баллов)
ARPU = Average Revenue Per User  
1) Постройте график ARPU для каждого месяца      
2) Добавьте на график область доверительного интервала для каждого месяца